<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro_disciplinas.css">
    <title>Cadastro de Disciplinas</title>
</head>
<body>
    <div class="container">
        <img src="../img/imagem4.svg">
    </div>
    <div class="form">
        <form action="../php/disciplina.php" method="POST">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastro de Disciplinas</h1>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Nome da disciplina </label>
                    <input id="name" name="disciplina" type="text" placeholder="Digite a disciplina aqui" class="inputs required" oninput="nameValidate()">
                    <span class="span-required">Nome deve ter no mínimo 3 caracteres</span>

                </div>
                
            </div>
            <div class="continue-button">
                        <input type="submit" value="Enviar">
                    </div>
        </form>
    </div>
</body>
<script>
    const form = document.getElementById('form');
    const campos = document.querySelectorAll('.required');
    const spans = document.querySelectorAll('.span-required');
    const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        nameValidate();
    });

    function setError(index) {
        campos[index].style.border = '2px solid #e63636';
        spans[index].style.display = 'block';
    }
    function removeError(index) {
        campos[index].style.border = '';
        spans[index].style.display = 'none';
    }

    function nameValidate() {
        if (campos[0].value.length < 5) {
            setError(0);
        }
        else {
            removeError(0);
        }
    }



</script>
</html>